:root {
  /* font */
  --main-font: "Roboto", sans-serif;
  --secondery-font: "Raleway", sans-serif;
  /* txt colors */
  --main-txt-cl: #757575;
  --accent-txt-cl: #2196f3;
  --subtitle-txt-cl: #030303;
  /* bg colors */
  --dark-bg-cl: #2f303a;
  --light-bg-cl: #f5f4fa;
  /* others */
  --indent: 30px;
  --itens: 4;
  --time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}

.subtitle {
  color: var(--subtitle-txt-cl);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--itens) - 1)) / var(--itens));
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo-light {
  color: #ffffff;
}

.logo-dark {
  color: #000000;
}

.log {
  color: var(--accent-txt-cl);
}

.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.header-nav {
  margin-right: auto;
}

.header-nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--subtitle-txt-cl);
  display: flex;
  gap: 50px;
}

.header-nav-link-current {
  color: var(--accent-txt-cl);
  position: relative;
}
.header-nav-link-current::after {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  background-color: var(--accent-txt-cl);
  position: absolute;
  bottom: 0;
  left: 0;
}

.header-nav-link,
.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--time);
}
.header-nav-link:hover, .header-nav-link:focus,
.header-link:hover,
.header-link:focus {
  color: var(--accent-txt-cl);
}

.header-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  display: flex;
  gap: 50px;
}

.header-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--main-txt-cl);
}

.header-icon {
  fill: currentColor;
}

.footer {
  background-color: var(--dark-bg-cl);
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-group {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
}

.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.footer-address-txt {
  color: #ffffff;
  margin-bottom: 9px;
}

.footer-address-list-item {
  margin-top: 9px;
}
.footer-address-list-item:not(:first-child) {
  margin-top: 9px;
}

.footer-address-list-item-link {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--time);
}
.footer-address-list-item-link:hover, .footer-address-list-item-link:focus {
  color: var(--accent-txt-cl);
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--time);
}
.footer-socials-link:hover, .footer-socials-link:focus {
  background-color: var(--accent-txt-cl);
}

.footer-socials-icon {
  fill: currentColor;
}

.footer-subs-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-subs-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

.footer-subs-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
}
.footer-subs-input:focus, .footer-subs-input:not(:placeholder-shown) {
  border-color: #ffffff;
  color: #ffffff;
}

.footer-subs-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: var(--accent-txt-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  border: none;
  padding: 10px 28px;
  transition: background var(--time);
}
.footer-subs-btn:hover, .footer-subs-btn:focus {
  background: #188ce8;
}

.portfolio-filtr {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-filtr-btn {
  background: var(--light-bg-cl);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #212121;
  display: flex;
  padding: 6px 22px;
  border-radius: 4px;
  border: var(--light-bg-cl);
  transition: color var(--time), background-color var(--time), box-shadow var(--time);
}
.portfolio-filtr-btn:active {
  background-color: var(--accent-txt-cl);
  color: #ffffff;
}
.portfolio-filtr-btn:hover, .portfolio-filtr-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-txt-cl);
  color: #ffffff;
}

.btn-current {
  background-color: var(--accent-txt-cl);
  color: #ffffff;
}

.portfolio-list {
  --itens: 3;
  padding: 0px;
}

.portfolio-item {
  transition: box-shadow var(--time);
}
.portfolio-item:hover, .portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform var(--time);
}
.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-overlay-txt {
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #ffffff;
  user-select: none;
}

.portfolio-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-txt {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=portfolio.css.map */