.header-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    margin-right: 93px;
}

.logo-light {
    color: #ffffff;
}

.logo-dark {
    color: #000000;
}

.log {
    color: var(--accent-txt-cl);
}

.header-nav {
    margin-right: auto;
}

.header-nav-list {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--subtitle-txt-cl);
    display: flex;
    gap: 50px;
}

.header-nav-link-current {
    color: var(--accent-txt-cl);
    position: relative;
}

.header-nav-link-current::after {
    content: '';
    width: 100%;
    height: 4px;
    display: block;
    border-radius: 2px;
    background-color: var(--accent-txt-cl);
    position: absolute;
    bottom: 0;
    left: 0;
}

.header-nav-link:focus,
.header-nav-link:hover,
.header-link:hover,
.header-link:focus,
.footer-address-list-item-link:hover,
.footer-address-list-item-link:focus {
    color: var(--accent-txt-cl);
}

.header-nav-link,
.header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--time);
}

.header-list {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    display: flex;
    gap: 50px;
}

.header-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--main-txt-cl);
}

.header-icon {
    fill: currentColor;
}