.socials-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #afb1b8;
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: color var(--time), background-color var(--time);

    &:hover,
    &:focus {
    color: #ffffff;
    background-color: var(--accent-txt-cl);
}
}

.socials-icon {
    fill: currentColor;
}