.team {
    background-color: var(--light-bg-cl);
}

.team-list {
    --itens: 4;
}

.team-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-name {
    @include font (500, 16px, 19px, 0.03em);
    margin-bottom: 10px;
    text-align: center;
}

.team-prof {
    @include font (400, 16px, 19px, 0.03em);
    margin-bottom: 16px;
    text-align: center;
}