.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    margin-right: 93px;
}

.logo-light {
    color: #ffffff;
}

.logo-dark {
    color: #000000;
}

.log {
    color: var(--accent-txt-cl);
}